*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}
 
.toolsBoard {
padding-top: 30px;
height: 600px;
width: 150px;
background-color: black;
display: flex;
flex-direction: column;
align-items: center;
}

.toolContainer{
    border: 1px solid grey;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
align-items: center;
}

.tool {
    width: 100px;
    height: 100px;
    background-size: cover;
}

.toolName {
    color: white;
    font-weight: bold;
    text-align: center;
    }

.pickaxe{
    background-image: url(../images/stone_pickaxe.png);
}

.shovel{
    background-image: url(../images/stone_shovel.png);
}

.axe{
    background-image: url(../images/stone_axe.png);
}


#gameBackground{
    border-collapse: collapse;
}

td{
    background-color: #8CBFFB;
    height: 30px;
    width: 30px;
    background-size: cover;

}
.grass {
    background-image: url(../images/grass.png);
}

.cloud {
    background-image: url(../images/cloud.png);
}
.rock {
    background-image: url(../images/rock.png);
}
.soil {
    background-image: url(../images/soil.jpg);
}
.treeLeaves {
    background-image: url(../images/tree-leaves.png);
}
.wood {
    background-image: url(../images/wood.png);
}
